/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "../dist/scss/kube.scss";

@mixin transition($time) {
  -webkit-transition: all $time;
     -moz-transition: all $time;
      -ms-transition: all $time;
       -o-transition: all $time;
          transition: all $time;
}


button {
  @include transition(0.2s);
}

textarea {
  resize: none;
}

.table_header {
  border-bottom: 1px solid black;
  b {
    font-weight: 700;
  }
}

.add_call__button {
  margin-bottom: 20px;
}

  